<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hospedagem Online - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Hospedagem Online </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="menuHome">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="menuHome">@Html.ActionLink("Estabelecimento", "Index", "Estabelecimento")</li>
                    <li id="menuHome">@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                    <li id="menuHome">@Html.ActionLink("Cidade", "Index", "Cidade")</li>
                    <li id="menuHome">@Html.ActionLink("Quarto", "Index", "Quarto")</li>
                    <li id="menuHome">@Html.ActionLink("Tipo Quarto", "Index", "TipoQuarto")</li>
                    <li id="menuHome">@Html.ActionLink("Usuario", "Index", "Usuario")</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <script src="@Url.Content("~/Scripts/jquery-2.2.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
